<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="./static/stylesheets/style.css" />
   </head>
   <body>
        <div id="top">Decrypt Challenge</div>

        <div id="welcome">Welcome, the time now is {{.Time}}</div>
        
        <div id="deczone">
            <h1>New Challenge: Decrypt this</h1>
            <p id="enc">{{.Text}}</p>
        </div>
        
        <div id="Footer">
            Answer please sent to admin's email: admin@encrypt.com
        </div>

   </body>
</html>
